@import url(http://weloveiconfonts.com/api/?family=entypo);
/* entypo */
[class*="entypo-"]:before {
  font-family: 'entypo', sans-serif;
}
* {
	margin: 0;
}
#header_container { 
	background:#FFFFFF; 
	height:150px; left:0; 
	width:100%; 
	top:0;
	position: absolute;
}
#header_home { 
	text-align:center; 
	padding-top: 45px;
	font-family: 'Josefin Sans', sans-serif;
	font-size: 80px;
	display: inline-block;
	margin-left: 80px;
}
#header_menu {
	text-align: right;
	padding-top: 80px;
	float:right;
	font-family: 'lato', sans-serif;
	display: inline-block;
	margin-right: 80px;
}
#about {
	margin-right: 40px;
	padding-left: 10px;
	font-family: 'lato', sans-serif;
	display: inline-block;
}
#writing {
	margin-right: 40px;
	padding-left: 10px;
	font-family: 'lato', sans-serif;
	display: inline-block;
}
#code {
	margin-right: 40px;
	padding-left: 10px;
	font-family: 'lato', sans-serif;
	display: inline-block;
}
#multimedia {
	margin-right: 40px;
	padding-left: 10px;
	font-family: 'lato', sans-serif;
	display: inline-block;
}
a {
	color: black;
	text-decoration: none;
}
a:hover { 
	opacity: 0.4;
	color: #00CCFF;
}
hr {
	margin-top: 170px;
	margin-left:50px;
	margin-right:50px;
	height: 0.5px;
	color: black;
	background-color: black;
	outline-color:black;
}
#footer {
	position: relative;
	margin-top: 20px;
	text-align: center;
	font-size: 10px ;
	font-family: 'Crete Round', serif;
	width: 100%;
	margin-bottom: 50px;
	background-color:#FFFFFF;
	padding-top: 25px;
	clear: both;
}
ul {
	position:relative;
	margin-top: 30px;
	margin-left: -38px;
	font-family: 'lato', sans-serif;
	font-size: 13px;
	list-style: none;
	font-color: black;
	line-height: 23px;
	overflow: auto;
	margin-bottom: 10px;
}
ul a:visited{
	font-style: italic;
}
ul a:hover {
	font-style: italic; 
}
#stories {
	margin-top: 10px;
	margin-left: 80px;
	font-family: 'Crete Round', serif;
	font-size: 20px;
	position: relative;
	overflow: auto;	
}
#website, #facebook, #twitter {
	margin-right: 5px;
	margin-left: 5px;
	display: inline-block;
	float: left;
}
#website, #facebook {
	padding-top: 4px;
}
#twitter {
	padding-top: 0px;
}
#website, #facebook, #twitter span {
	font-size: 15px;
}
#website span {
	color: #8A8A8A;
}
#facebook span {
	color: #8A8A8A;
}
#twitter span {
	color: #8A8A8A;
	padding-top: 0px;
}
h3 {
	display:inline-block;
	float: left;
	font-family: 'Crete Round', serif;
	font-size: 20px;
}
img {
	height: auto;
	max-width: 100%;
}
#research {
	width: 55%;
	height: 200px;
	margin-left: 40px;
	margin-bottom: 120px;
	margin-top: 10px;
	display: inline-block;
	float: left;
}
#researchbody {
	float: left;
	font-family: 'lato', sans-serif;
	font-size: 13px;
	margin-top: 15px;
	margin-left: 8px;
	margin-bottom: 20px;
	display: inline-block;
	clear: right;
	width: 37%;
}
#photobody {
	float: left;
	font-family: 'lato', sans-serif;
	font-size: 13px;
	text-align: right;
	margin-top: 10px;
	margin-left: 33px;
	display: inline-block;
	clear: left;
	width: 55%;
	margin-bottom: 50px;
}
#videobody {
	font-family: 'lato', sans-serif;
	font-size: 13px;
	width: 37%;
	height: 40%;
	margin-top: 10px;
	margin-left: 8px;
	margin-bottom: 200px;
	display: inline-block;
	position: relative;
}
#codecontainer {
	margin-top: 10px; 
	margin-left: 80px;
	margin-right: 80px;
	font-size: 16px;
	font-family: 'lato', sans-serif;
}
#codecontainer img {
	margin-top: 10px;
	width: 160px;
	height: 160px;
	border-radius: 10px;
	box-shadow: 3px 3px 3px #888888;
}
#codecontainer div {
	display: inline-block;
	margin-right: 15px;
}
