@import url(http://weloveiconfonts.com/api/?family=entypo);
/* entypo */
[class*="entypo-"]:before {
  font-family: 'entypo', sans-serif;
}
#header_container { 
	background:#eee; 
	height:125px; left:0; 
	position:fixed; 
	width:100%; 
	top:0; 
}
#header_home { 
	vertical-align: middle;
	text-align:center; 
	font-family: 'entypo', sans-serif;
}
#header_menu {
	vertical-align: middle;
	text-align:center; 	
	font-family: 'entypo', sans-serif;
}
