@import url(http://weloveiconfonts.com/api/?family=entypo);
[class*="entypo-"]:before {
  font-family: 'entypo', sans-serif;
}
/** { 
margin: 0; 
padding: 0; 
} */
html, body {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
	background-color: #202020;
}
h1 {
	font-family: 'Crete Round', serif;
	color: #FFFFFF;
	text-align: center;
	padding-top: 10%;
	margin-bottom: 0.04em;
	line-height: 80px;
	font-size: 0.25em;
}
h2 {
	font-family: 'Lato', sans-serif;
	color: #FFFFFF;
	text-align: center;
	font-size: 0.05em;
	margin-top: 0;
	margin-bottom: 0.8em;
	text-shadow: 0.1em 0.1em #444444;
	opacity: 0.3;
}
.clickables {
	color: #00CCFF;
	text-align: center;
	font-size: 0.06em;
}
span + span {
	margin-right: 30px;
}
span:first-of-type {
	margin-right: 30px;
}
a {
	color: #00CCFF;
	text-decoration: none;
}
a:hover { 
	opacity: 0.4;
} 
img {
	height: 16%;
	width: 16%;
}
.menu {
	text-align: center;
	padding-top: 10%;
	padding-left: 5%;
	padding-right: 5%;
	background-color: #202020;
}