body {
	background-color: #FFF0F5;
}
#directions {
	opacity: 30%;
	font-family: 'lato', sans-serif;
	color: black;
	font-size: 20px;
	margin-top: 30px;
	margin-left: 50px;
}
#message {
	font-family: 'Lucida console', sans-serif;
	color: black;
	font-size: 30px;
	margin-top: 80px;
	margin-left: 50px;
	position: fixed;
}
#messagekey {
	font-family: 'Lucida console', sans-serif;
	color: black;
	font-size: 30px;
	margin-top: 2000px;
	margin-left: 50px;
	margin-bottom: 5000px;
}